Data Cleaning

- import important libraries.

In [1]:
import numpy as np
import pandas as pd
import glob
import matplotlib.pyplot as plt

C:\Users\win10\AppData\Local\Temp\ipykernel_14136\2778435887.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

- merge all files created from web scrapping.

In [2]:
csv_files = glob.glob('Full Data/*.csv')
dfs = []

for file in csv_files:
    dfn = pd.read_csv(file)
    dfs.append(dfn)

df = pd.concat(dfs)
df

,Name,Review,Number Of Reviews,Genre,Tags,Dev_Info,Developer,Publisher,Release_Date,link,Price
0,Palworld,Very Positive,"(187,133)","['Action, Adventure, Indie, RPG, Early Access']","['Single-player', 'Online Co-op', 'Steam Achie...","['Action, Adventure, Indie, RPG, Early Access']",Pocketpair,Pocketpair,"18 Jan, 2024",https://store.steampowered.com/app/1623730/Pal...,$14.99
1,Counter-Strike 2,Very Positive,"(7,871,062)","['Action, Free to Play']","['Cross-Platform Multiplayer', 'Steam Trading ...","['Action, Free to Play']",Valve,Valve,"21 Aug, 2012",https://store.steampowered.com/app/730/Counter...,Free
2,Ready or Not,Very Positive,"(124,768)","['Action, Adventure, Indie']","['Single-player', 'Online Co-op', 'Steam Cloud']","['Action, Adventure, Indie']",VOID Interactive,VOID Interactive,"13 Dec, 2023",https://store.steampowered.com/app/1144200/Rea...,$21.74
3,NARAKA: BLADEPOINT,Mostly Positive,"(199,601)","['Action, Adventure, Massively Multiplayer']","['Online PvP', 'In-App Purchases']","['Action, Adventure, Massively Multiplayer']",24 Entertainment,NetEase Games Global,"12 Aug, 2021",https://store.steampowered.com/app/1203220/NAR...,Free
4,Lethal Company,Overwhelmingly Positive,"(261,544)","['Action, Adventure, Indie, Early Access']","['Single-player', 'Online Co-op']","['Action, Adventure, Indie, Early Access']",Zeekerss,Zeekerss,"24 Oct, 2023",https://store.steampowered.com/app/1966720/Let...,$5.79
...,...,...,...,...,...,...,...,...,...,...,...
2432,Aliens versus Predator Classic 2000,Very Positive,"(2,190)",['Action'],['Single-player'],['Action'],Rebellion,Rebellion,"28 Mar, 2000",https://store.steampowered.com/app/3730/Aliens...,$4.99
2433,ARMA: Cold War Assault,Very Positive,"(1,968)","['Action, Simulation, Strategy']",['Single-player'],"['Action, Simulation, Strategy']",Bohemia Interactive,Bohemia Interactive,"9 Aug, 2011",https://store.steampowered.com/app/65790/ARMA_...,$4.99
2434,Solace Crafting,Mostly Positive,(741),"['Adventure, Indie, RPG']","['Single-player', 'Online Co-op', 'LAN Co-op',...","['Adventure, Indie, RPG']",Big Kitty Games,Big Kitty Games,"2 Aug, 2022",https://store.steampowered.com/app/670260/Sola...,$14.99
2435,Homeseek,Mixed,(143),"['Indie, Simulation, Strategy']","['Single-player', 'Online PvP', 'Steam Achieve...","['Indie, Simulation, Strategy']",Traptics,The Iterative Collective,"20 Jul, 2023",https://store.steampowered.com/app/2093000/Hom...,$12.49
2436,Dude Simulator 3,Mixed,"(1,774)","['Action, Adventure, Indie, Racing, Simulation']","['Single-player', 'Steam Trading Cards']","['Action, Adventure, Indie, Racing, Simulation']",Kiddy,Kiddy,"28 Aug, 2019",https://store.steampowered.com/app/1086640/Dud...,$0.69

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2437 entries, 0 to 2436
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               2437 non-null   object
 1   Review             2437 non-null   object
 2   Number Of Reviews  2432 non-null   object
 3   Genre              2437 non-null   object
 4   Tags               2437 non-null   object
 5   Dev_Info           2437 non-null   object
 6   Developer          2437 non-null   object
 7   Publisher          2432 non-null   object
 8   Release_Date       2437 non-null   object
 9   link               2437 non-null   object
 10  Price              2430 non-null   object
dtypes: object(11)
memory usage: 209.6+ KB

In [3]:
df.describe()

,Name,Review,Number Of Reviews,Genre,Tags,Dev_Info,Developer,Publisher,Release_Date,link,Price
count,2437,2437,2432,2437,2437,2437,2437,2432,2437,2437,2430
unique,2417,11,2040,430,804,430,1821,1298,1552,2437,251
top,Risen 2: Dark Waters,Very Positive,(302),['Action'],"['Single-player', 'Steam Achievements', 'Steam...",['Action'],Square Enix,Ubisoft,"27 Jul, 2023",https://store.steampowered.com/app/1623730/Pal...,Free
freq,2,1425,6,156,247,156,29,55,9,1,228

- drop nulls & duplicates.

In [5]:
df.isnull().sum()

Name                 0
Review               0
Number Of Reviews    5
Genre                0
Tags                 0
Dev_Info             0
Developer            0
Publisher            5
Release_Date         0
link                 0
Price                7
dtype: int64

From domain Knowledge we found out that most of the times game Developers are also their Publishers, so we fill the nulls in publishers with Developer info

In [6]:
df['Publisher'].fillna(df['Developer'], inplace=True)

C:\Users\win10\AppData\Local\Temp\ipykernel_14136\1206098908.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Publisher'].fillna(df['Developer'], inplace=True)

In [7]:
df.isnull().sum()

Name                 0
Review               0
Number Of Reviews    5
Genre                0
Tags                 0
Dev_Info             0
Developer            0
Publisher            0
Release_Date         0
link                 0
Price                7
dtype: int64

drop by unique key

In [8]:
df = df.dropna()
df = df.drop_duplicates(subset='Name', keep='first')
df

,Name,Review,Number Of Reviews,Genre,Tags,Dev_Info,Developer,Publisher,Release_Date,link,Price
0,Palworld,Very Positive,"(187,133)","['Action, Adventure, Indie, RPG, Early Access']","['Single-player', 'Online Co-op', 'Steam Achie...","['Action, Adventure, Indie, RPG, Early Access']",Pocketpair,Pocketpair,"18 Jan, 2024",https://store.steampowered.com/app/1623730/Pal...,$14.99
1,Counter-Strike 2,Very Positive,"(7,871,062)","['Action, Free to Play']","['Cross-Platform Multiplayer', 'Steam Trading ...","['Action, Free to Play']",Valve,Valve,"21 Aug, 2012",https://store.steampowered.com/app/730/Counter...,Free
2,Ready or Not,Very Positive,"(124,768)","['Action, Adventure, Indie']","['Single-player', 'Online Co-op', 'Steam Cloud']","['Action, Adventure, Indie']",VOID Interactive,VOID Interactive,"13 Dec, 2023",https://store.steampowered.com/app/1144200/Rea...,$21.74
3,NARAKA: BLADEPOINT,Mostly Positive,"(199,601)","['Action, Adventure, Massively Multiplayer']","['Online PvP', 'In-App Purchases']","['Action, Adventure, Massively Multiplayer']",24 Entertainment,NetEase Games Global,"12 Aug, 2021",https://store.steampowered.com/app/1203220/NAR...,Free
4,Lethal Company,Overwhelmingly Positive,"(261,544)","['Action, Adventure, Indie, Early Access']","['Single-player', 'Online Co-op']","['Action, Adventure, Indie, Early Access']",Zeekerss,Zeekerss,"24 Oct, 2023",https://store.steampowered.com/app/1966720/Let...,$5.79
...,...,...,...,...,...,...,...,...,...,...,...
2432,Aliens versus Predator Classic 2000,Very Positive,"(2,190)",['Action'],['Single-player'],['Action'],Rebellion,Rebellion,"28 Mar, 2000",https://store.steampowered.com/app/3730/Aliens...,$4.99
2433,ARMA: Cold War Assault,Very Positive,"(1,968)","['Action, Simulation, Strategy']",['Single-player'],"['Action, Simulation, Strategy']",Bohemia Interactive,Bohemia Interactive,"9 Aug, 2011",https://store.steampowered.com/app/65790/ARMA_...,$4.99
2434,Solace Crafting,Mostly Positive,(741),"['Adventure, Indie, RPG']","['Single-player', 'Online Co-op', 'LAN Co-op',...","['Adventure, Indie, RPG']",Big Kitty Games,Big Kitty Games,"2 Aug, 2022",https://store.steampowered.com/app/670260/Sola...,$14.99
2435,Homeseek,Mixed,(143),"['Indie, Simulation, Strategy']","['Single-player', 'Online PvP', 'Steam Achieve...","['Indie, Simulation, Strategy']",Traptics,The Iterative Collective,"20 Jul, 2023",https://store.steampowered.com/app/2093000/Hom...,$12.49
2436,Dude Simulator 3,Mixed,"(1,774)","['Action, Adventure, Indie, Racing, Simulation']","['Single-player', 'Steam Trading Cards']","['Action, Adventure, Indie, Racing, Simulation']",Kiddy,Kiddy,"28 Aug, 2019",https://store.steampowered.com/app/1086640/Dud...,$0.69

In [9]:
df['Name'].value_counts()

Name
Palworld                      1
Tropico 5                     1
War Trigger 3                 1
PAGUI打鬼                       1
Freeman: Guerrilla Warfare    1
                             ..
Estate Agent Simulator        1
战姬军团                          1
NIMBY Rails                   1
Taur                          1
Dude Simulator 3              1
Name: count, Length: 2405, dtype: int64

- drop unnecessary columns

In [10]:
df.drop('link', axis=1, inplace=True)

In [11]:
df['Genre'].equals(df['Dev_Info'])

True

In [12]:
df['Developer'].equals(df['Publisher'])

False

In [13]:
df.drop('Dev_Info', axis=1, inplace=True)

In [14]:
df

,Name,Review,Number Of Reviews,Genre,Tags,Developer,Publisher,Release_Date,Price
0,Palworld,Very Positive,"(187,133)","['Action, Adventure, Indie, RPG, Early Access']","['Single-player', 'Online Co-op', 'Steam Achie...",Pocketpair,Pocketpair,"18 Jan, 2024",$14.99
1,Counter-Strike 2,Very Positive,"(7,871,062)","['Action, Free to Play']","['Cross-Platform Multiplayer', 'Steam Trading ...",Valve,Valve,"21 Aug, 2012",Free
2,Ready or Not,Very Positive,"(124,768)","['Action, Adventure, Indie']","['Single-player', 'Online Co-op', 'Steam Cloud']",VOID Interactive,VOID Interactive,"13 Dec, 2023",$21.74
3,NARAKA: BLADEPOINT,Mostly Positive,"(199,601)","['Action, Adventure, Massively Multiplayer']","['Online PvP', 'In-App Purchases']",24 Entertainment,NetEase Games Global,"12 Aug, 2021",Free
4,Lethal Company,Overwhelmingly Positive,"(261,544)","['Action, Adventure, Indie, Early Access']","['Single-player', 'Online Co-op']",Zeekerss,Zeekerss,"24 Oct, 2023",$5.79
...,...,...,...,...,...,...,...,...,...
2432,Aliens versus Predator Classic 2000,Very Positive,"(2,190)",['Action'],['Single-player'],Rebellion,Rebellion,"28 Mar, 2000",$4.99
2433,ARMA: Cold War Assault,Very Positive,"(1,968)","['Action, Simulation, Strategy']",['Single-player'],Bohemia Interactive,Bohemia Interactive,"9 Aug, 2011",$4.99
2434,Solace Crafting,Mostly Positive,(741),"['Adventure, Indie, RPG']","['Single-player', 'Online Co-op', 'LAN Co-op',...",Big Kitty Games,Big Kitty Games,"2 Aug, 2022",$14.99
2435,Homeseek,Mixed,(143),"['Indie, Simulation, Strategy']","['Single-player', 'Online PvP', 'Steam Achieve...",Traptics,The Iterative Collective,"20 Jul, 2023",$12.49
2436,Dude Simulator 3,Mixed,"(1,774)","['Action, Adventure, Indie, Racing, Simulation']","['Single-player', 'Steam Trading Cards']",Kiddy,Kiddy,"28 Aug, 2019",$0.69

columns' type like "Release_Date", "Price" have to be changed.

In [15]:
df['release_date'] = pd.to_datetime(df['Release_Date'])

ValueError: time data "Apr 2019" doesn't match format "%d %b, %Y", at position 107. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [16]:
df.loc[df['Release_Date'].str.len()<9]

,Name,Review,Number Of Reviews,Genre,Tags,Developer,Publisher,Release_Date,Price
107,Anno 1800,Very Positive,"(13,400)","['Simulation, Strategy']","['Single-player', 'Online PvP', 'Online Co-op'...",Ubisoft Mainz,Ubisoft,Apr 2019,$47.99
483,Kingdoms Reborn,Very Positive,"(7,069)","['Indie, Simulation, Strategy, Early Access']","['Single-player', 'Online PvP', 'Online Co-op']",Earthshine,Earthshine,Nov 2020,$19.99

-drop these two rows

In [17]:
df.drop(index=[107, 483], inplace=True)

In [18]:
df.loc[df['Release_Date'].str.len()<9]

Empty DataFrame
Columns: [Name, Review, Number Of Reviews, Genre, Tags, Developer, Publisher, Release_Date, Price]
Index: []

In [19]:
df['release_date'] = pd.to_datetime(df['Release_Date'])

ValueError: time data "Ubisoft Montreal" doesn't match format "%d %b, %Y", at position 277. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [20]:
df[df['Release_Date'] == 'Ubisoft Montreal']

,Name,Review,Number Of Reviews,Genre,Tags,Developer,Publisher,Release_Date,Price
279,Assassin’s Creed® IV Black Flag™,Very Positive,"(55,444)","['Action, Adventure']","['Single-player', 'In-App Purchases']",Ubisoft Montreal,Ubisoft,Ubisoft Montreal,$31.99

In [21]:
df.drop(index=[279], inplace=True)

In [22]:
df['release_date'] = pd.to_datetime(df['Release_Date'])

ValueError: time data "Gearbox Software" doesn't match format "%d %b, %Y", at position 1496. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [23]:
invalid_date_rows = df[df['Release_Date'].apply(lambda x: not any(char.isdigit() for char in str(x)))]
invalid_date_rows

,Name,Review,Number Of Reviews,Genre,Tags,Developer,Publisher,Release_Date,Price
1516,Aliens: Colonial Marines Collection,Mixed,"(6,727)",['Action'],"['Single-player', 'Steam Achievements', 'Remot...",Gearbox Software,SEGA,Gearbox Software,$14.99

In [24]:
df.drop(index=[1516], inplace=True)

In [25]:
df['release_date'] = pd.to_datetime(df['Release_Date'])

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2401 entries, 0 to 2436
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               2401 non-null   object
 1   Review             2401 non-null   object
 2   Number Of Reviews  2401 non-null   object
 3   Genre              2401 non-null   object
 4   Tags               2401 non-null   object
 5   Developer          2401 non-null   object
 6   Publisher          2401 non-null   object
 7   Release_Date       2401 non-null   object
 8   Price              2401 non-null   object
 9   release_date       2401 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(9)
memory usage: 206.3+ KB

In [27]:
df.drop('Release_Date', axis=1, inplace=True)

to change "Price" type, we need first to make its values numbers only.

In [28]:
df['Price'] = df['Price'].str.replace('$','')
df['Price'] = df['Price'].str.replace('Free','0')
df['Price']

0       14.99
1           0
2       21.74
3           0
4        5.79
        ...
2432     4.99
2433     4.99
2434    14.99
2435    12.49
2436     0.69
Name: Price, Length: 2401, dtype: object

In [29]:
df['Price'] = df['Price'].astype(float)
df['Price']

0       14.99
1        0.00
2       21.74
3        0.00
4        5.79
        ...
2432     4.99
2433     4.99
2434    14.99
2435    12.49
2436     0.69
Name: Price, Length: 2401, dtype: float64

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2401 entries, 0 to 2436
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               2401 non-null   object
 1   Review             2401 non-null   object
 2   Number Of Reviews  2401 non-null   object
 3   Genre              2401 non-null   object
 4   Tags               2401 non-null   object
 5   Developer          2401 non-null   object
 6   Publisher          2401 non-null   object
 7   Price              2401 non-null   float64
 8   release_date       2401 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 187.6+ KB

In [31]:
df.head()

,Name,Review,Number Of Reviews,Genre,Tags,Developer,Publisher,Price,release_date
0,Palworld,Very Positive,"(187,133)","['Action, Adventure, Indie, RPG, Early Access']","['Single-player', 'Online Co-op', 'Steam Achie...",Pocketpair,Pocketpair,14.99,2024-01-18
1,Counter-Strike 2,Very Positive,"(7,871,062)","['Action, Free to Play']","['Cross-Platform Multiplayer', 'Steam Trading ...",Valve,Valve,0.00,2012-08-21
2,Ready or Not,Very Positive,"(124,768)","['Action, Adventure, Indie']","['Single-player', 'Online Co-op', 'Steam Cloud']",VOID Interactive,VOID Interactive,21.74,2023-12-13
3,NARAKA: BLADEPOINT,Mostly Positive,"(199,601)","['Action, Adventure, Massively Multiplayer']","['Online PvP', 'In-App Purchases']",24 Entertainment,NetEase Games Global,0.00,2021-08-12
4,Lethal Company,Overwhelmingly Positive,"(261,544)","['Action, Adventure, Indie, Early Access']","['Single-player', 'Online Co-op']",Zeekerss,Zeekerss,5.79,2023-10-24

-clean "number of reviews" column

In [32]:
df['Number Of Reviews'] = df['Number Of Reviews'].str.replace(',','')

In [33]:
df['Number Of Reviews']

0        (187133)
1       (7871062)
2        (124768)
3        (199601)
4        (261544)
          ...
2432       (2190)
2433       (1968)
2434        (741)
2435        (143)
2436       (1774)
Name: Number Of Reviews, Length: 2401, dtype: object

In [34]:
df['Total Number Of Reviews'] = df['Number Of Reviews'].str.extract(r'(-?\d+)').astype(int)

In [35]:
df['Total Number Of Reviews'].describe()

count    2.401000e+03
mean     1.764620e+04
std      1.750818e+05
min      1.400000e+01
25%      6.010000e+02
50%      2.080000e+03
75%      8.189000e+03
max      7.871062e+06
Name: Total Number Of Reviews, dtype: float64

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2401 entries, 0 to 2436
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name                     2401 non-null   object
 1   Review                   2401 non-null   object
 2   Number Of Reviews        2401 non-null   object
 3   Genre                    2401 non-null   object
 4   Tags                     2401 non-null   object
 5   Developer                2401 non-null   object
 6   Publisher                2401 non-null   object
 7   Price                    2401 non-null   float64
 8   release_date             2401 non-null   datetime64[ns]
 9   Total Number Of Reviews  2401 non-null   int32
dtypes: datetime64[ns](1), float64(1), int32(1), object(7)
memory usage: 197.0+ KB

In [37]:
df.drop('Number Of Reviews', axis=1, inplace=True)

In [38]:
df.head()

,Name,Review,Genre,Tags,Developer,Publisher,Price,release_date,Total Number Of Reviews
0,Palworld,Very Positive,"['Action, Adventure, Indie, RPG, Early Access']","['Single-player', 'Online Co-op', 'Steam Achie...",Pocketpair,Pocketpair,14.99,2024-01-18,187133
1,Counter-Strike 2,Very Positive,"['Action, Free to Play']","['Cross-Platform Multiplayer', 'Steam Trading ...",Valve,Valve,0.00,2012-08-21,7871062
2,Ready or Not,Very Positive,"['Action, Adventure, Indie']","['Single-player', 'Online Co-op', 'Steam Cloud']",VOID Interactive,VOID Interactive,21.74,2023-12-13,124768
3,NARAKA: BLADEPOINT,Mostly Positive,"['Action, Adventure, Massively Multiplayer']","['Online PvP', 'In-App Purchases']",24 Entertainment,NetEase Games Global,0.00,2021-08-12,199601
4,Lethal Company,Overwhelmingly Positive,"['Action, Adventure, Indie, Early Access']","['Single-player', 'Online Co-op']",Zeekerss,Zeekerss,5.79,2023-10-24,261544

-check if any columns have redundant values with different typing

In [39]:
df['Review'].unique()

array(['Very Positive', 'Mostly Positive', 'Overwhelmingly Positive',
       'Mixed', 'Mostly Negative', 'Overwhelmingly Negative', 'Positive',
       'Very Negative'], dtype=object)

- for these columns that have many values for one row, we need to extract these data in new dfs for better data exploration and visualization.

In [51]:
df_new = df[['Name','Genre', 'Price', 'Review']]
df_new

,Name,Genre,Price,Review
0,Palworld,"['Action, Adventure, Indie, RPG, Early Access']",14.99,Very Positive
1,Counter-Strike 2,"['Action, Free to Play']",0.00,Very Positive
2,Ready or Not,"['Action, Adventure, Indie']",21.74,Very Positive
3,NARAKA: BLADEPOINT,"['Action, Adventure, Massively Multiplayer']",0.00,Mostly Positive
4,Lethal Company,"['Action, Adventure, Indie, Early Access']",5.79,Overwhelmingly Positive
...,...,...,...,...
2432,Aliens versus Predator Classic 2000,['Action'],4.99,Very Positive
2433,ARMA: Cold War Assault,"['Action, Simulation, Strategy']",4.99,Very Positive
2434,Solace Crafting,"['Adventure, Indie, RPG']",14.99,Mostly Positive
2435,Homeseek,"['Indie, Simulation, Strategy']",12.49,Mixed
2436,Dude Simulator 3,"['Action, Adventure, Indie, Racing, Simulation']",0.69,Mixed

In [52]:
df_new['Genre'] = df_new['Genre'].apply(lambda x: x[2:-2])
df_new

C:\Users\win10\AppData\Local\Temp\ipykernel_14136\3484558886.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Genre'] = df_new['Genre'].apply(lambda x: x[2:-2])

,Name,Genre,Price,Review
0,Palworld,"Action, Adventure, Indie, RPG, Early Access",14.99,Very Positive
1,Counter-Strike 2,"Action, Free to Play",0.00,Very Positive
2,Ready or Not,"Action, Adventure, Indie",21.74,Very Positive
3,NARAKA: BLADEPOINT,"Action, Adventure, Massively Multiplayer",0.00,Mostly Positive
4,Lethal Company,"Action, Adventure, Indie, Early Access",5.79,Overwhelmingly Positive
...,...,...,...,...
2432,Aliens versus Predator Classic 2000,Action,4.99,Very Positive
2433,ARMA: Cold War Assault,"Action, Simulation, Strategy",4.99,Very Positive
2434,Solace Crafting,"Adventure, Indie, RPG",14.99,Mostly Positive
2435,Homeseek,"Indie, Simulation, Strategy",12.49,Mixed
2436,Dude Simulator 3,"Action, Adventure, Indie, Racing, Simulation",0.69,Mixed

In [53]:
df_new['Genre'] = df_new['Genre'].apply(lambda x: x.split(','))

C:\Users\win10\AppData\Local\Temp\ipykernel_14136\608474138.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Genre'] = df_new['Genre'].apply(lambda x: x.split(','))

"Genre" now is considered as a list, so we can apply explode() on it to consider each values in a single row as multiple values.

In [54]:
df_new

,Name,Genre,Price,Review
0,Palworld,"[Action, Adventure, Indie, RPG, Early Access]",14.99,Very Positive
1,Counter-Strike 2,"[Action, Free to Play]",0.00,Very Positive
2,Ready or Not,"[Action, Adventure, Indie]",21.74,Very Positive
3,NARAKA: BLADEPOINT,"[Action, Adventure, Massively Multiplayer]",0.00,Mostly Positive
4,Lethal Company,"[Action, Adventure, Indie, Early Access]",5.79,Overwhelmingly Positive
...,...,...,...,...
2432,Aliens versus Predator Classic 2000,[Action],4.99,Very Positive
2433,ARMA: Cold War Assault,"[Action, Simulation, Strategy]",4.99,Very Positive
2434,Solace Crafting,"[Adventure, Indie, RPG]",14.99,Mostly Positive
2435,Homeseek,"[Indie, Simulation, Strategy]",12.49,Mixed
2436,Dude Simulator 3,"[Action, Adventure, Indie, Racing, Simulat...",0.69,Mixed

In [55]:
df_new_1 = df_new.explode('Genre')
df_new_1

                  Name          Genre  Price         Review
0             Palworld         Action  14.99  Very Positive
0             Palworld      Adventure  14.99  Very Positive
0             Palworld          Indie  14.99  Very Positive
0             Palworld            RPG  14.99  Very Positive
0             Palworld   Early Access  14.99  Very Positive
...                ...            ...    ...            ...
2436  Dude Simulator 3         Action   0.69          Mixed
2436  Dude Simulator 3      Adventure   0.69          Mixed
2436  Dude Simulator 3          Indie   0.69          Mixed
2436  Dude Simulator 3         Racing   0.69          Mixed
2436  Dude Simulator 3     Simulation   0.69          Mixed

[6772 rows x 4 columns]

In [56]:
df_new_1.reset_index(inplace=True,drop=True)
df_new_1

                  Name          Genre  Price         Review
0             Palworld         Action  14.99  Very Positive
1             Palworld      Adventure  14.99  Very Positive
2             Palworld          Indie  14.99  Very Positive
3             Palworld            RPG  14.99  Very Positive
4             Palworld   Early Access  14.99  Very Positive
...                ...            ...    ...            ...
6767  Dude Simulator 3         Action   0.69          Mixed
6768  Dude Simulator 3      Adventure   0.69          Mixed
6769  Dude Simulator 3          Indie   0.69          Mixed
6770  Dude Simulator 3         Racing   0.69          Mixed
6771  Dude Simulator 3     Simulation   0.69          Mixed

[6772 rows x 4 columns]

In [57]:
df_new_1['Genre'].unique()

array(['Action', ' Adventure', ' Indie', ' RPG', ' Early Access',
       ' Free to Play', ' Massively Multiplayer', ' Strategy',
       'Adventure', ' Simulation', 'Simulation', ' Sports',
       'Massively Multiplayer', 'Strategy', ' Casual', ' Racing', 'RPG',
       'Indie', 'Racing', 'Casual', 'Free to Play', 'Sports'],
      dtype=object)

Then, we need to check "Genre" values for redundancy

In [58]:
df_new_1['Genre'] = df_new_1['Genre'].str.strip()
df_new_1['Genre'].unique()

array(['Action', 'Adventure', 'Indie', 'RPG', 'Early Access',
       'Free to Play', 'Massively Multiplayer', 'Strategy', 'Simulation',
       'Sports', 'Casual', 'Racing'], dtype=object)

And so on for "Tags"

In [74]:
df_NTPR = df[['Name','Tags', 'Price', 'Review']]
df_NTPR

,Name,Tags,Price,Review
0,Palworld,"['Single-player', 'Online Co-op', 'Steam Achie...",14.99,Very Positive
1,Counter-Strike 2,"['Cross-Platform Multiplayer', 'Steam Trading ...",0.00,Very Positive
2,Ready or Not,"['Single-player', 'Online Co-op', 'Steam Cloud']",21.74,Very Positive
3,NARAKA: BLADEPOINT,"['Online PvP', 'In-App Purchases']",0.00,Mostly Positive
4,Lethal Company,"['Single-player', 'Online Co-op']",5.79,Overwhelmingly Positive
...,...,...,...,...
2432,Aliens versus Predator Classic 2000,['Single-player'],4.99,Very Positive
2433,ARMA: Cold War Assault,['Single-player'],4.99,Very Positive
2434,Solace Crafting,"['Single-player', 'Online Co-op', 'LAN Co-op',...",14.99,Mostly Positive
2435,Homeseek,"['Single-player', 'Online PvP', 'Steam Achieve...",12.49,Mixed
2436,Dude Simulator 3,"['Single-player', 'Steam Trading Cards']",0.69,Mixed

In [75]:
df_NTPR['Tags'] = df_NTPR['Tags'].apply(lambda x: x[1:-1])
df_NTPR

C:\Users\win10\AppData\Local\Temp\ipykernel_14136\3697472107.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_NTPR['Tags'] = df_NTPR['Tags'].apply(lambda x: x[1:-1])

,Name,Tags,Price,Review
0,Palworld,"'Single-player', 'Online Co-op', 'Steam Achiev...",14.99,Very Positive
1,Counter-Strike 2,"'Cross-Platform Multiplayer', 'Steam Trading C...",0.00,Very Positive
2,Ready or Not,"'Single-player', 'Online Co-op', 'Steam Cloud'",21.74,Very Positive
3,NARAKA: BLADEPOINT,"'Online PvP', 'In-App Purchases'",0.00,Mostly Positive
4,Lethal Company,"'Single-player', 'Online Co-op'",5.79,Overwhelmingly Positive
...,...,...,...,...
2432,Aliens versus Predator Classic 2000,'Single-player',4.99,Very Positive
2433,ARMA: Cold War Assault,'Single-player',4.99,Very Positive
2434,Solace Crafting,"'Single-player', 'Online Co-op', 'LAN Co-op', ...",14.99,Mostly Positive
2435,Homeseek,"'Single-player', 'Online PvP', 'Steam Achievem...",12.49,Mixed
2436,Dude Simulator 3,"'Single-player', 'Steam Trading Cards'",0.69,Mixed

In [76]:
df_NTPR['Tags'] = df_NTPR['Tags'].apply(lambda x: x.split(','))

C:\Users\win10\AppData\Local\Temp\ipykernel_14136\1368652906.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_NTPR['Tags'] = df_NTPR['Tags'].apply(lambda x: x.split(','))

In [77]:
df_NTPR_1 = df_NTPR.explode('Tags')

In [78]:
df_NTPR_1

                  Name                          Tags  Price         Review
0             Palworld               'Single-player'  14.99  Very Positive
0             Palworld                'Online Co-op'  14.99  Very Positive
0             Palworld          'Steam Achievements'  14.99  Very Positive
0             Palworld                 'Steam Cloud'  14.99  Very Positive
1     Counter-Strike 2  'Cross-Platform Multiplayer'   0.00  Very Positive
...                ...                           ...    ...            ...
2435          Homeseek                  'Online PvP'  12.49          Mixed
2435          Homeseek          'Steam Achievements'  12.49          Mixed
2435          Homeseek         'Steam Trading Cards'  12.49          Mixed
2436  Dude Simulator 3               'Single-player'   0.69          Mixed
2436  Dude Simulator 3         'Steam Trading Cards'   0.69          Mixed

[9874 rows x 4 columns]

In [79]:
df_NTPR_1.reset_index(inplace=True,drop=True)
df_NTPR_1

                  Name                          Tags  Price         Review
0             Palworld               'Single-player'  14.99  Very Positive
1             Palworld                'Online Co-op'  14.99  Very Positive
2             Palworld          'Steam Achievements'  14.99  Very Positive
3             Palworld                 'Steam Cloud'  14.99  Very Positive
4     Counter-Strike 2  'Cross-Platform Multiplayer'   0.00  Very Positive
...                ...                           ...    ...            ...
9869          Homeseek                  'Online PvP'  12.49          Mixed
9870          Homeseek          'Steam Achievements'  12.49          Mixed
9871          Homeseek         'Steam Trading Cards'  12.49          Mixed
9872  Dude Simulator 3               'Single-player'   0.69          Mixed
9873  Dude Simulator 3         'Steam Trading Cards'   0.69          Mixed

[9874 rows x 4 columns]

In [80]:
df_NTPR_1['Tags'].unique()

array(["'Single-player'", " 'Online Co-op'", " 'Steam Achievements'",
       " 'Steam Cloud'", "'Cross-Platform Multiplayer'",
       " 'Steam Trading Cards'", " 'Steam Workshop'",
       " 'In-App Purchases'", " 'Valve Anti-Cheat enabled'", " 'Stats'",
       " 'Remote Play on Phone'", " 'Remote Play on Tablet'",
       " 'Remote Play on TV'", "'Online PvP'", " 'Online PvP'",
       "'Steam Trading Cards'", " 'SteamVR Collectibles'",
       " 'Shared/Split Screen PvP'", " 'Shared/Split Screen Co-op'",
       "'MMO'", " 'Steam Leaderboards'", " 'HDR available'", " 'MMO'",
       " 'Cross-Platform Multiplayer'", " 'LAN PvP'",
       " 'Includes level editor'", " 'LAN Co-op'",
       " 'Captions available'", " 'Commentary available'",
       " 'Tracked Controller Support'", " 'VR Supported'",
       " 'Remote Play Together'", "'In-App Purchases'",
       " 'Steam Turn Notifications'", "'Online Co-op'",
       " 'Includes Source SDK'", " 'Steam is learning about this game '",
       " 'Profile Features Limited '", "'Steam Achievements'", "''",
       "'Valve Anti-Cheat enabled'"], dtype=object)

In [81]:
df_NTPR_1['Tags'] = df_NTPR_1['Tags'].str.strip()

In [82]:
df_NTPR_1['Tags'].unique()

array(["'Single-player'", "'Online Co-op'", "'Steam Achievements'",
       "'Steam Cloud'", "'Cross-Platform Multiplayer'",
       "'Steam Trading Cards'", "'Steam Workshop'", "'In-App Purchases'",
       "'Valve Anti-Cheat enabled'", "'Stats'", "'Remote Play on Phone'",
       "'Remote Play on Tablet'", "'Remote Play on TV'", "'Online PvP'",
       "'SteamVR Collectibles'", "'Shared/Split Screen PvP'",
       "'Shared/Split Screen Co-op'", "'MMO'", "'Steam Leaderboards'",
       "'HDR available'", "'LAN PvP'", "'Includes level editor'",
       "'LAN Co-op'", "'Captions available'", "'Commentary available'",
       "'Tracked Controller Support'", "'VR Supported'",
       "'Remote Play Together'", "'Steam Turn Notifications'",
       "'Includes Source SDK'", "'Steam is learning about this game '",
       "'Profile Features Limited '", "''"], dtype=object)

In [83]:
df_NTPR_1[df_NTPR_1['Tags'] == "''"]

                          Name Tags  Price Review
6086  Might & Magic: Heroes VI   ''  23.99  Mixed

In [84]:
df_NTPR_1.drop(index=[6086], inplace=True)

In [85]:
df_NTPR_1['Tags'] = df_NTPR_1['Tags'].apply(lambda x: x[1:-1])
df_NTPR_1

                  Name                        Tags  Price         Review
0             Palworld               Single-player  14.99  Very Positive
1             Palworld                Online Co-op  14.99  Very Positive
2             Palworld          Steam Achievements  14.99  Very Positive
3             Palworld                 Steam Cloud  14.99  Very Positive
4     Counter-Strike 2  Cross-Platform Multiplayer   0.00  Very Positive
...                ...                         ...    ...            ...
9869          Homeseek                  Online PvP  12.49          Mixed
9870          Homeseek          Steam Achievements  12.49          Mixed
9871          Homeseek         Steam Trading Cards  12.49          Mixed
9872  Dude Simulator 3               Single-player   0.69          Mixed
9873  Dude Simulator 3         Steam Trading Cards   0.69          Mixed

[9873 rows x 4 columns]

In [86]:
df_NTPR_1['Tags'].unique()

array(['Single-player', 'Online Co-op', 'Steam Achievements',
       'Steam Cloud', 'Cross-Platform Multiplayer', 'Steam Trading Cards',
       'Steam Workshop', 'In-App Purchases', 'Valve Anti-Cheat enabled',
       'Stats', 'Remote Play on Phone', 'Remote Play on Tablet',
       'Remote Play on TV', 'Online PvP', 'SteamVR Collectibles',
       'Shared/Split Screen PvP', 'Shared/Split Screen Co-op', 'MMO',
       'Steam Leaderboards', 'HDR available', 'LAN PvP',
       'Includes level editor', 'LAN Co-op', 'Captions available',
       'Commentary available', 'Tracked Controller Support',
       'VR Supported', 'Remote Play Together', 'Steam Turn Notifications',
       'Includes Source SDK', 'Steam is learning about this game ',
       'Profile Features Limited '], dtype=object)

In [87]:
df_NTPR_1['Tags'] = df_NTPR_1['Tags'].str.strip()

In [89]:
df_NTPR_1['Tags'].unique()

array(['Single-player', 'Online Co-op', 'Steam Achievements',
       'Steam Cloud', 'Cross-Platform Multiplayer', 'Steam Trading Cards',
       'Steam Workshop', 'In-App Purchases', 'Valve Anti-Cheat enabled',
       'Stats', 'Remote Play on Phone', 'Remote Play on Tablet',
       'Remote Play on TV', 'Online PvP', 'SteamVR Collectibles',
       'Shared/Split Screen PvP', 'Shared/Split Screen Co-op', 'MMO',
       'Steam Leaderboards', 'HDR available', 'LAN PvP',
       'Includes level editor', 'LAN Co-op', 'Captions available',
       'Commentary available', 'Tracked Controller Support',
       'VR Supported', 'Remote Play Together', 'Steam Turn Notifications',
       'Includes Source SDK', 'Steam is learning about this game',
       'Profile Features Limited'], dtype=object)

In [90]:
df.columns

Index(['Name', 'Review', 'Genre', 'Tags', 'Developer', 'Publisher', 'Price',
       'release_date', 'Total Number Of Reviews'],
      dtype='object')

In [92]:
print(df['Developer'].unique())

['Pocketpair' 'Valve' 'VOID Interactive' ... 'Big Kitty Games' 'Traptics'
 'Kiddy']

In [93]:
df['Developer'].nunique()

1812

In [94]:
df['Developer'].value_counts()

Developer
Square Enix                   27
Ubisoft Montreal              15
KOEI TECMO GAMES CO., LTD.    11
Valve                         11
Ubisoft                       10
                              ..
Armature Studio, LLC           1
Flow Studio                    1
Nomad Games                    1
Odyssey Interactive            1
Kiddy                          1
Name: count, Length: 1812, dtype: int64

In [95]:
df['Publisher'].unique()

array(['Pocketpair', 'Valve', 'VOID Interactive', ..., 'Epitasis Games',
       'Big Kitty Games', 'Kiddy'], dtype=object)

In [96]:
df['Publisher'].nunique()

1296

In [97]:
df['Publisher'].value_counts()

Publisher
Ubisoft             54
Square Enix         40
Electronic Arts     34
SEGA                33
THQ Nordic          28
                    ..
Wave Game            1
Abylight Studios     1
Code Club AB         1
liica inc.           1
Kiddy                1
Name: count, Length: 1296, dtype: int64

save dataframes for data visualization.

In [72]:
df.to_csv('data_cleaned_all.csv', index=False)
df_new_1.to_csv('data_cleaned_genre.csv', index=False)
df_NTPR_1.to_csv('data_cleaned_tags.csv', index=False)